.row
  .large-4.large-centered.columns
    = simple_form_for @post do |f|
      = f.input :title, label: 'Blog Post Title'
      = f.input :date
      = f.input :body, size: "80x100"
      = f.button :submit
